.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background: #E9EDF1 !important;
    color: black !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    box-shadow: none !important;
}

.css-1x7skt0 {
    background: #E9EDF1 !important;
    color: black !important;
}